body {
  /* background-image: linear-gradient(purple, yellow); */
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
}

.currentAff {
  display: flex;
  justify-content: center;
}

.userForm {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: end;
  align-items: end;
  padding-top: 150px;
}
